* {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #F4F9FD;
    font-family: 'Open Sans', sans-serif;
}
:focus {
    outline: auto 5px #30aab3;
}
h1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 0;}

.contact {
    padding-top: 0;
    margin: 20px auto;
    max-width: 500px;
    margin-left: 20px;
}
input {
    border: 3px solid white;
    min-height: 40px;
}
textarea {
    border: 3px solid white;
    min-height: 130px;
    resize: none;
}
input:focus, textarea:focus {
    border: 3px solid #eebe5b;
    outline: 0;
}

input#email:valid, textarea:valid {
    background: white url('data:image/svg+xml,\ <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">\ <circle cx="13" cy="13" r="13" fill="%23abedd8"/>\ <path fill="none" stroke="white" stroke-width="2" d="M5 15.2l5 5 10-12"/>\ </svg>') no-repeat 98% 5px;
    border: 3px solid #abedd8;
    transition: background ease 0.2s;
}

input#telefoonnummer:valid, textarea:valid {
    background: white url('data:image/svg+xml,\ <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">\ <circle cx="13" cy="13" r="13" fill="%23abedd8"/>\ <path fill="none" stroke="white" stroke-width="2" d="M5 15.2l5 5 10-12"/>\ </svg>') no-repeat 98% 5px;
    border: 3px solid #abedd8;
    transition: background ease 0.2s;
}
input#name:valid, textarea:valid {
    background: white url('data:image/svg+xml,\ <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">\ <circle cx="13" cy="13" r="13" fill="%23abedd8"/>\ <path fill="none" stroke="white" stroke-width="2" d="M5 15.2l5 5 10-12"/>\ </svg>') no-repeat 98% 5px;
    border: 3px solid #abedd8;
    transition: background ease 0.2s;
}
#contact-form {
    position: relative;
}
#contact-form input, #contact-form textarea {
    -webkit-appearance: none;
    border-radius: 0;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    box-shadow: none;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 10px;
    width: 100%;
}
#contact-form label {
    background: white;
    box-shadow: none;
    border-top-right-radius: 0.3em;
    display: inline-block;
    color: #193849;
    padding: 5px 10px;
    width: auto;
    font-weight: bold;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;

}
.send-message {
    position: absolute;
    bottom: 18px;
    left: 12px;
    width: 32px;
    z-index: 1;
    font-family: 'Verdana', sans-serif;
    font-weight: lighter;
}
.send-message.active {
    animation: sendMessage 1s;
}
.send-message.not-active {
    transform-origin: 50px;
    opacity: 1;
    animation: sendMessageNot 1s;
}
@keyframes sendMessage {
    to {
        transform: translateX(500px);
        opacity: 0;
    }
}
@keyframes sendMessageNot {
    to {
        transform: rotate(360deg) translateY(120%);
        opacity: 0;
    }
}
@keyframes shake {
    from {
        transform: translateX(-10px);
    }
    to {
        transform: translateX(10px);
    }
}
#contact-form.active {
    animation: shake 0.05s alternate 5;
}

.button {
    background: linear-gradient(135deg,#0082ca 0,#58babc 100%);
    border-radius: 0 0.3em;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 5rem;
}
.button:hover {
    color: white;
}
.button:before {
    content: "";
    position: absolute;
    background: linear-gradient(135deg,#0082ca 0,#58babc 100%);
    height: 101%;
    left: -30%;
    top: 0;
    transform: skew(40deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    transition: all 0.3s;
    width: 0;
    z-index: -1;
}
.button:hover:before {
    width: 135%;
}
#contact-form .btn-send {
    border: 0;
    position: relative;
    width: 100%;
}
#contact-form .btn-send input {
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.content-block-rechts{
    position: relative;
}